.g-todo {
  position: relative;
  width: 600px;
  margin: 0 auto 100px auto;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
  background-color: #fff;
  visibility: hidden;
}

.g-todo::after {
  content: '';
  display: block;
  position: absolute;
  bottom: -20px;
  width: 100%;
  height: 100%;
  transform: rotate(5deg) translateY(-15px);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
  background-color: #fff;
  z-index: -1;
}

#m-list {
  height: auto;
  transition: all .5s;
  overflow: hidden;
}

.u-input {
  display: block;
  box-sizing: border-box;
  width: 100%;
  height: 65px;
  padding: 16px 90px;
  font-size: 20px;
  outline: none;
  border: none;
  box-shadow: inset 0 -2px 1px rgba(0, 0, 0, 0.03);
}
.u-input::placeholder {
  color: #C6C6C6;
  transform: skew(-15deg)
}

.u-icon {
  position: absolute;
  left: 35px;
  top: 20px;
  width: 30px;
  height: 30px;
  opacity: 0.5;
  cursor: pointer;
  background-position: 50% 50%;
  background-size: 90% 90%;
  background-repeat: no-repeat;
  background-color: transparent;
  background-image: url(/res/img/all.png);
  transition: all .2s;
  z-index: 1;
}
.u-icon-active {
  opacity: 1;
  background-size: 110% 110%;
  transform: rotate(180deg)
}