.section {
  width: 100%;
}

.wrapper {
  display: flex;
  clear: both;
}

.g-list-index, .g-list-title {
  transform: all .5s;
}

.g-list-index {
  width: 40px;
  height: 40px;
  padding: 5px 15px;
  background-position: 50% 50%;
  background-size: 30px 30px;
  background-repeat: no-repeat;
}

.g-list-title {
  font-size: 20px;
  line-height: 50px;
  text-indent: 5px;
}

.z-item-completed-ok {
  color: #D9D9D9;
  text-decoration: line-through; 
}

.z-item-completed-no {
  
}

.z-index-completed-ok {
  background-image: url('../../res/todo_list.png');
}

.z-index-completed-no {
  background-image: url('../../res/todo_list_completed.png');
}