.g-footer {
  height: 40px;
  padding: 10px;
  text-align: center;
}

.s-footer {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: rgba(178, 0, 0, 0.5)
}